<!DOCTYPE html>
<html>

<head>
    <%- include('part/header.ejs')  %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/drop_menu.css' />
</head>

<body>
    <div id="container">
        <nav id="primary_nav_wrap">
            <ul>
                <li class="current-menu-item"><a href="/">Home</a></li>
                <%- login %>
                <li><a href="#">Content</a>
                    <%- list %>
                </li>
                <li><a href="#">Menu 4</a></li>
                <li><a href="#">Menu 5</a></li>
                <li><a href="#">Menu 6</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
        <div id="main">
            <div id="side">

            </div>
            <div id="content">
                <div class="description">
                    <%- description %>
                </div>
                <div class="control">
                    <p>by <%- displayname %></p>
                    <ul>
                        <li><a href="/form/create">create</a></li>
                        <li><a href="/form/update/<%= pageID %>">update</a></li>
                        <form action="/process/delete" method="post">
                            <input type="hidden" name="id" value="<%= pageID %>">
                            <input type="submit" value="delete">
                        </form>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>