<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="/stylesheets/menu.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/drop_menu.css' />
    <style>
    </style>
    <title>user</title>
</head>

<body>
    <main role="main">
        <%- include('../part/list.ejs'); %>
        <section class="jumbotron text-center">
            <div class="container">
                <h1>User</h1>
            </div>
        </section>
    </main>
    <div class="album py-5 bg-light">
        <div class="container">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link <%- disabled %>  " href="/user/edit/<%= userID %>">패스워드 변경</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/delete/<%= userID %>">아이디 삭제</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/list/<%= userID %>">글목록</a>
                </li>
            </ul>

            <%  if(mod){ %>
            <%- include('./part/'+mod); %>
            <%  } %>
            <% if(modal){ %>
            <%- include('../part/modal.ejs'); %>
            <%  } %>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script>
        $('#messageModal').modal('show');
    </script>
</body>

</html>